body {
  margin: 0;
}

.path {
  width: 400px;
  height: 400px;
  background: #ddd;
}

path {
  stroke: teal;
  stroke-width: 5;
  fill: transparent;
}

.stroke {
  stroke: orange;
  stroke-width: 20;
  /* stroke-linecap: butt; default */
  stroke-linecap: round; /* 둥글게*/
  /* stroke-linecap: square; 사각 */
  stroke-linejoin: round;
}
