body {
  margin: 0;
}

@keyframes dash-ani {
  from {
    stroke-dashoffset: 726.1060791015625;
  }
  to {
    stroke-dashoffset: 0;
  }
}

circle {
  stroke: black;
  stroke-width: 5;
  stroke-dasharray: 700;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: dash-ani 2s;
}

path {
  stroke: black;
  stroke-width: 5;
  fill: transparent;
  stroke-dasharray: 726.1060791015625;
  animation: dash-ani 2s alternate infinite;
}
