.the-svg {
  position: absolute;
  top: 0;
  left: 0;

  background: #ddd;
}

@keyframes face-ani {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.8);
  }
}

.cat-face {
  animation: face-ani 1s alternate infinite;
}

.magnifier {
  transform-origin: left;
}
